* {
    margin: 0;
    padding: 0;
}
#flex-container {
    width: 800px;
    height: 800px;
    border: 1px solid #3b3b3b;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}
#flex-container > div {
    width: 100px;
    height: 100px;
}
.flex-item1 {
    background-color: aquamarine;
    /* flex-grow: 1; */
}
.flex-item2 {
    background-color: olivedrab;
    /* flex-grow: 2; */
}
.flex-item3 {
    background-color: salmon;
}
.flex-item4 {
    background-color: royalblue;
}
.flex-item5 {
    background-color: plum;
}